body {
	background-color: #f6f8fa;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#root {
	max-width: 480px;
	margin: auto;
}

#wrapper {
	display: inline-block;
	padding: 30vh 11vh;
	margin: auto;
}

.toggleForm .link {
	border: none;
	padding: none;
	font-size: 1rem;
	font-weight: bold;
	cursor: pointer;
}



.btn.round {
	display:inline-block;
	width: 200px;
	height: 200px;
	margin: auto;
	padding: 10px;
	border-radius: 100%;
	cursor: pointer;
	text-align: center;
}

#Listening {
	background-color:  red;  
	animation-iteration-count:infinite;

}

.btn.round:hover {
background-color: #b7b7b7;
}
